


<body>

  <!-- products -->
  <div *ngIf="!loading" class="grid gap-2 md:gap-6 grid-cols-2 lg:grid-cols-3 rounded-xl">
    <!-- card -->
    <div class="flex flex-col items-center border border-for bg-for rounded-xl" *ngFor="let x of lovelist;let i = index">
      <div class="group overflow-hidden relative rounded-t-lg cursor-pointer">
        <img class="group-hover:scale-105 transition-all duration-200" src="{{x?.main_img}}" alt="x.main_img">
        <div class=" absolute top-0" *ngIf="x.discount>0">
          <i class='bx bxs-discount bx-tada text-4xl text-sec' ></i>
        </div>
      </div>
      <div class="p-2 md:p-4 rounded-xl flex flex-col items-center space-y-4 min-w-full ">
        <!-- header -->
        <div class="fc space-y-1 ">
          <h1 class=" title text-end font-sec font-semibold text-white max-w-md md:leading-10 tracking-wide text-sm md:text-lg lg:text-xl">{{x.name}}</h1>
          <div class="flex items-center justify-center space-x-2" *ngIf="x.discount>0">
            <p class="text-mg text-white">{{x.finalPrice}}KWD</p>
            <p class="text-mg text-thr line-through">{{x.price}}KWD</p>
          </div>
        </div>
        <div class=" outline w-full outline-1 outline-thr"></div>
        <!-- content -->
        <div class="flex space-y-2 flex-col w-full items-center ">
          <button (click)="sendToProduct(x._id)"  class="rounded-full w-full font-sec font-semibold text-lg text-gray-700  py-2 bg-white
            hover:brightness-95 hover:-translate-y-0.5 hover:shadow-md hover:drop-shadow-xs transition-all duration-150">أشتري الان</button>
          <div class="flex w-full items-center justify-start space-x-1 md:space-x-2">
            <button (click)="addToCart(x._id)" class="w-4/5 rounded-full  font-sec font-semibold text-sm md:text-lg text-gray-700  py-2 bg-white
            hover:brightness-95 hover:-translate-y-0.5 hover:shadow-md hover:drop-shadow-xs transition-all duration-150">إضافة الي السلة</button>
            <div class=" cursor-pointer rounded-full bg-thr flex items-center justify-center active:bg-red-500 transition-all duration-200">
              <i  name='love' class="md:px-3 md:py-2 px-2 py-1 bx bxs-heart text-lg md:text-xl text-red-500 "  (click)="love(x._id,$event)"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <!-- end -->
    <app-spinner *ngIf="loading"  ></app-spinner>
</body>



