
<footer>
  <div class=" w-full  bg-prim  px-16 ">
    <div class="flex flex-col md:flex-row items-center justify-between px-8 py-2">
      <h1 class="text-xl pt-4 md:pb-4 text-center   font-sec text-white hover:translate-x-2 hover:text-thr cursor-pointer transition-all duration-150 ">
        all rights reserved
      </h1>
      <div class="icons p-4  flex items-center justify-between w-52">
        <a target="_blank" class="hover:-translate-y-0.5 hover:text-thr cursor-pointer transition-all duration-150 " href="https://www.facebook.com/sallet.almunah?mibextid=ZbWKwL"><i class="fa-brands fa-facebook  text-white
            text-2xl "></i></a>
        <a target="_blank" href="http://instagram.com/sallet.almunah"><i class="fa-brands fa-instagram text-white
            text-2xl hover:-translate-y-0.5 hover:text-thr cursor-pointer transition-all duration-150 "></i></a>
        <a target="_blank" href="https://tiktok.com/@sallet.almunah"><i class="fa-brands fa-tiktok text-white
            text-2xl hover:-translate-y-0.5 hover:text-thr cursor-pointer transition-all duration-150 "></i></a>
        <a target="_blank"  href="https://wa.me/96598829464"><i class="fa-brands fa-whatsapp text-white
            text-2xl hover:-translate-y-0.5 hover:text-thr cursor-pointer transition-all duration-150 "></i></a>
      </div>
    </div>
  </div>
</footer>

